<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>

	<typeAliases>
		<typeAlias type="com.melona.model.C_Seat" alias="Seat"/>
		<typeAlias type="com.melona.model.Search" alias="Search"/>
		<typeAlias type="com.melona.model.Singer" alias="Singer"/>
		<typeAlias type="com.melona.model.Album" alias="Album"/>
		<typeAlias type="com.melona.model.Music" alias="Music"/>
		<typeAlias type="com.melona.model.C_Concert" alias="C_Concert"/>
		<typeAlias type="com.melona.model.MyAlbum" alias="MyAlbum"/>
		<typeAlias type="com.melona.model.Members" alias="Members"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/mappers/admin.xml" />
		<mapper resource="mybatis/mappers/cseat.xml" />
		<mapper resource="mybatis/mappers/album.xml" />
		<mapper resource="mybatis/mappers/music.xml" />
		<mapper resource="mybatis/mappers/singer.xml" />
		<mapper resource="mybatis/mappers/search.xml" />
		<mapper resource="mybatis/mappers/playlist.xml" />
		<mapper resource="mybatis/mappers/member.xml" />
	</mappers>
	
</configuration>